@import "tailwindcss";

@theme {
  --color-spotify-dark: #121212;
  --color-spotify-gray: #1f1f1f;
  --color-spotify-white: #f0f0f0;
}

@layer components {
  .layout-container {
    @apply max-w-7xl mx-auto
  }
}

body {
  color: var(--color-spotify-white);
  font-family: 'Inter Variable', sans-serif;
}

.debug {
  height: 100% !important;
}